<div class="container">
  <div class="section-header">
    <h3> About Me </h3>
    <!--<p> {{site.user_description}} </p>-->
  </div>
  <div class="row user">
    <div class="six columns">
      <h4>Analyst</h4>
      <div class="devicons">
        <div class="row">
          <i class="devicon-postgresql-plain-wordmark colored four columns"></i>
          <div class="four columns icon-container">
            <img src="{{ "/assets/img/Rlogo.png" | prepend: site.baseurl }}" alt="QGIS" class="devicon-img">
          </div>
          <div class="four columns icon-container">
            <img src="{{ "/assets/img/QGis_Logo.png" | prepend: site.baseurl }}" alt="QGIS" class="devicon-img">
          </div>
        </div>
        <div class="row">
          <div class="icon-container two columns"></div>
          <i class="devicon-python-plain-wordmark four columns"></i>
          <div class="four columns icon-container">
            <img src="{{ "/assets/img/arcgis-logo.png" | prepend: site.baseurl }}" alt="Ember.js" class="devicon-img">
          </div>
          <div class="icon-container two columns"></div>
        </div>
      </div>
      <p>A skilled geospatial analyst with experience in a wide variety of tools and platforms. Comfortable integrating
        open-source and proprietary tools in a variety of environments to build analysis and visualization tools.</p>
    </div>
    <div class="six columns">
      <h4>Developer</h4>
      <div class="row">
        <i class="devicon-react-original-wordmark colored four columns"></i>
        <div class="four columns icon-container">
          <img src="{{ "/assets/img/Ember.js_Logo_and_Mascot.png" | prepend: site.baseurl }}" alt="Ember.js" class="devicon-img">
        </div>
        <i class="devicon-d3js-plain colored four columns"></i>
      </div>
      <div class="row">
        <i class="devicon-nodejs-plain-wordmark four columns"></i>
        <!--<i class="devicon-git-plain four columns"></i>-->
        <div class="four columns icon-container">
          <img src="{{ "/assets/img/leaflet-square.jpg" | prepend: site.baseurl }}" alt="Leaflet" class="devicon-img">
        </div>
        <i class="devicon-docker-plain-wordmark colored four columns"></i>
      </div>
      <p>A creative web developer and visualization engineer passionate about bringing complex data to life. Experience developing enterprise-level web applications and architecting highly interactive visual interfaces.</p>
    </div>
  </div>
</div>
