<div class="container">
  <div class="section-header">
    <h3> Projects </h3>
  </div>
  <div class="row user-projects">
    <div class="six columns images">
      <a href="https://maps.nrel.gov" target="_blank"><img alt="OpenCarto Landing Page" src="{{ "/assets/img/rede-lower-mekong.png" | prepend: site.baseurl }}" /></a>
    </div>
    <div class="six columns">
      <h5> OpenCarto Web GIS Framework </h5>
      <p>For the past year and a half I have been a lead front-end developer and product manager for the <a href="https://maps.nrel.gov" target="_blank">OpenCarto platform</a>, a full stack framework developed at the
        <a href="https://nrel.gov" target="_blank">National Renewable Energy Lab</a> for creating feature-rich web GIS web applications to enable visualization and analysis of renewable energy data. In this role I did significant client-side development using Ember.js, Leaflet, and jQuery, in addition to analysis and data management work in PostgreSQL/PostGIS and Geoserver.</p>
      <!--<a class="project-link" href="#">Check it out</a>-->
    </div>
  </div>
  <div class="row user-projects">
    <div class="six columns images">
      <a href="http://www.bceecollaborative.org/2014-report-card/report-map/" target="_blank"><img alt="BCEE Map" src="{{ "/assets/img/bcee-map.png" | prepend: site.baseurl }}" /></a>
    </div>
    <div class="six columns">
      <h5> Boulder County Environmental Education Assessment </h5>
      <p>The <a href="http://www.bceecollaborative.org/2014-report-card/" target="_blank">BCEE 2014 Report Card</a> was a first-of-its-kind effort to comprehensively understand the environmental education being received by students in Boulder County across schools, grade levels, and demographics. As part of this project, I performed some basic statistical analysis and data munging, created static visuals for the final report, and created an
        <a href="http://www.bceecollaborative.org/2014-report-card/report-map/" target="_blank">interactive web map</a> for the Report's website.</p>
      <!--<a class="project-link" href="#">Check it out</a>-->
    </div>
  </div>
</div>
